body{
    background: rgb(190, 186, 186);
    font-family: Arial, Helvetica, sans-serif;

}

div#container{
    background-color: rgb(134, 131, 131);
    align-items: center;
    width: 500px;
    
    
}

#titulo{
    font-size: 30px;
}

#botaosoma{background-color:rgb(190, 186, 186);
    
}

#ressoma{
    margin-top: 10px;
}
#resmulti{
    margin-top: 10px;
}
#resdiv{
    margin-top: 10px;
}
#ressub{
    margin-top: 10px;
}
